#Antares ignores
*/antares
*/images
*/build
*/kconfig
*/.config.old
*/lex.backup
*/tmp

*/include/generated
*/include/arch
*/include/config

# Editors ignores
*.swp
.*.swp
tags

# Personal
satellite/Makefile
cerebellum/Makefile
